<section class="projects">
  {% assign projects = site.projects | sort:'sort_number' %}

  {% for project in projects %}

  <div class="square-index" style="background-size:cover">
    <img ix-path="{{ project.project_thumbnail_image | replace: '/uploads/', ''}}"
         alt=""
         ix-params='{
           "auto": "compress"
         }'
         class="js-img"
         sizes="(min-width: 769px) 25vw, 50vw">
    {% if project.link %}<a href="{{ project.url }}">{% endif %}
      <div class="block-inner">
        <p class="type">{{ project.project_type }}</p>
        <h2 class="title">{{ project.project_title }}</h2>
        <h2 class="info">{{ project.project_info }}</h2>
        {% if project.link %}<p class="more">Read more</p>{% endif %}
      </div>
    {% if project.link %}</a>{% endif %}
  </div>

{% endfor %}
</section>


