---
layout: default
---

<section class="hero">
  <h1 class="editable">{{page.title}}</h1>
</section>

<section class="body">
  <div class="sections">
    {% for block in page.content_section %}
      {% if block.section_text_markdown %}
        <div class="copy">
          {{ block.section_text_markdown | markdownify }}
        </div>
      {% endif %}
      {% if block.section_image %}
        <img src="{{block.section_image}}" alt="">
      {% endif %}
    {% endfor %}
  </div>
  {% include projects.html %}

</section>

