.contact {
  .hero {
    @include hero;
    border-bottom: 0;
    @include media($l-up) {
      padding-bottom: 2rem !important;
    }
    h1 {
      font-weight: 100;
      margin-bottom: 1.5rem;
      a {
        color: $text;
        text-decoration: none;
        &:hover {
          color: $myred;
        }
      }
    }
    h1.location {
      margin-bottom: 0px;
      font-weight: 500;
    }
  }
}

