---

---

{% assign people = site.people | sort:"order" %}

{% for person in people %}
  <div class="square-index" style="background-size:cover">
    <img ix-path="{{ person.photo_path | replace: '/uploads/', ''}}"
         alt=""
         ix-params='{
           "auto": "compress"
         }'
         class="js-img"
         sizes="(min-width: 769px) 25vw, 50vw">
    <div class="block-inner">
      <a href="{{ person.url }}">
      <h2 class="title">{{ person.name }}</h2>
      {% if person.show_position %}<h2 class="info">{{ person.position }}</h2>{% endif %}

      </a>
    </div>
  </div>
{% endfor %}

