---
headline: >-
  We are a brand consultancy with big agency experience, operating at start-up
  speed.
featured_projects:
  - tapestry
  - etsy-studio
  - ufc
  - ink
---
<section class="hero">
  <h1>{{page.headline}}</h1>
</section>

<section class="body">

  <h1>Featured</h1>

  {% assign liveprojects = site.projects | where: 'draft',false %}
  {% for featured in page.featured_projects %}
    {% for item in liveprojects %}
      {% if featured == item.slug %}
        <div class="square-index" style="background-size:cover;">
          <img ix-path="{{ item.project_thumbnail_image | replace: '/uploads/', ''}}" alt="" ix-params='{
                 "auto": "compress",
                 "q": "25"
               }' class="js-img" sizes="(min-width: 769px) 25vw, 50vw" />
          {% if item.link %}<a href="{{ item.url }}">{% endif %}
            <div class="block-inner">
              <p class="type">{{ item.project_type }}</p>
              <h2 class="title">{{ item.project_title }}</h2>
              <h2 class="info">{{ item.project_info }}</h2>
              {% if item.link %}<p class="more">Read more</p>{% endif %}
            </div>
          {% if item.link %}</a>{% endif %}
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}




</section>

