---
layout: default
class: work
---

{% assign sorted = site.projects | where_exp:"item",
"item.sort_number > 0" %}
{% assign sorted = sorted | where:'draft','false' | sort:'sort_number' %}
{% assign unsorted = site.projects | where_exp:"item",
"item.keys contains 'sort_number'" | shuffle %}
{% assign projects = sorted | concat: unsorted | uniq %}

{% for project in projects %}

  <div class="square-index" style="background-size:cover">
    <img ix-path="{{ project.project_thumbnail_image | replace: '/uploads/', ''}}"
         alt=""
         ix-params='{
           "auto": "compress",
           "q": "25"
         }'
         class="js-img"
         sizes="(min-width: 769px) 25vw, 50vw">
    {% if project.link %}<a href="{{ project.url }}">{% endif %}
      <div class="block-inner">
        <p class="type">{{ project.project_type }}</p>
        <h2 class="title">{{ project.project_title }}</h2>
        <h2 class="info">{{ project.project_info }}</h2>
        {% if project.link %}<p class="more">Read more</p>{% endif %}
      </div>
    {% if project.link %}</a>{% endif %}
  </div>

{% endfor %}